@{
    ViewBag.Title = "RouteWiseLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var V_Branches = BusinessEntities.DropDownBO.DropDownBO.AllRoutes().OrderBy(rt => rt.NAME);
}

<h2>Route Wise Capital</h2>

@using (Ajax.BeginForm("RouteWiseCapital", new AjaxOptions
                                                    {
                                                        HttpMethod = "POST",
                                                        UpdateTargetId = "Updatediv",
                                                        InsertionMode = InsertionMode.Replace
                                                    }))
{ <div class="row">
                                                        <div class="col-md-10 col-md-offset-1 well well-sm">
                                                            @*<div class="row">
                                                                <div class=" col-lg-2">Start Date</div>
                                                                <div class="col-lg-3"><input class="form-control" type="date" name="start_date" required="required" /></div>
                                                                <div class="col-lg-2">End Date</div>
                                                                <div class="col-lg-3"><input type="date" class="form-control" name="End_date" required="required" /></div>
                                                            </div>
                                                            <br />*@



                                                            <div class="row">
                                                                <div class="col-lg-2">Select Route </div>
                                                                <div class="col-lg-3">
                                                                    <input type="hidden" name="ISWithWeight" value="@ViewBag.Weight" />
                                                                    @Html.DropDownList("Route_ID", V_Branches.Select(m => new SelectListItem { Text = m.NAME.ToString(), Value = m.ROUTE_ID.ToString() }), "--Select Route--"
                                                                         , new { @class = "  form-control ", @required = true })
                                                                </div>

                                                                <div class="col-lg-3 col-lg-offset-2">
                                                                    <input type="submit" value="search" class="form-control btn btn-success" name="V_Name" />
                                                                </div>
                                                           </div>
                                                        </div>
                                                    </div>
}


        <div id="Updatediv"></div>
    



<style>
    .headinglist {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>
