
@{
    ViewBag.Title = "VendorLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var V_Branches = BusinessEntities.DropDownBO.DropDownBO.AllVendor_Branches().OrderBy(vndr => vndr.VBNAME);
    var All_Routes = BusinessEntities.DropDownBO.DropDownBO.AllRoutes();

}

<h2>Change Vendor Rate</h2>
@using (Ajax.BeginForm("ChangeVendorRate", "EditList", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "Updatediv",
    InsertionMode = InsertionMode.Replace
}, new { @class = "form123"}))
{<div class="row">
        <div class="col-md-10 col-md-offset-1 well well-sm">
            <div class="row">
                <div class=" col-lg-2">Start Date</div>
                <div class="col-lg-3 "><input class="form-control" type="date" name="start_date" required="required" /></div>
                <div class="col-lg-2">End Date</div>
                <div class="col-lg-3"><input type="date" class="form-control" name="End_date" required="required" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Select Route
                </div>
                <div class=" col-lg-3 ">
                    @Html.DropDownList("Route_ID", All_Routes.Select(m => new SelectListItem { Text = m.NAME, Value = m.ROUTE_ID.ToString() }), "--Select Route--"
                     , new { @onchange = "javascript:GetVendors(this.value)", @class = "form-control", @required = true, @dir = "rtl", id = "Route_DropDown" })
                </div>
                <div class="col-lg-2">
                    Select Vendor
                </div>
                <div class="col-lg-3">
                    <select id="VendorsDD" name="V_Branch_ID" class="form-control">
                        <option value="1">Select Vendor </option>
                    </select>
                </div> 
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Enter Rate</div>
                <div class="col-md-3"><input type="number"required="required" step="any" placeholder="Rate Per KG"  name="new_Rate" class="form-control"> </div>
                <div class="col-lg-3 col-md-offset-2">
                    <input type="submit" value="Change Vendor Rate" class="form-control btn btn-success" name="V_Name" />
                </div>
            </div>
        </div>
    </div>
}
<div class="clearfix"></div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div id="Updatediv"></div>
    </div>
</div>

<script language="javascript" type="text/javascript">

    function GetVendors(_routeId) {

        var url = "/Vendors/AllVendorsByRouteID/";
        var vendorslist = "#VendorsDD";

        $.ajax({
            url: url,
            data: {RouteID: _routeId },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#VendorsDD").html(data);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
   
</script>


