@{
    ViewBag.Title = "Vouchers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Routes = BusinessEntities.DropDownBO.DropDownBO.AllRoutes();
}
<h2>Cash Voucher</h2>
@using (Ajax.BeginForm("getCashVoucher", new AjaxOptions
                                                    {
                                                        HttpMethod ="POST",
                                                        
                                                        UpdateTargetId ="voucherDiv",
                                                        InsertionMode = InsertionMode.Replace
                                                    }))
{
   
    <div class="row">
        <div class="col-lg-offset-2 col-lg-3">
                    @Html.DropDownList("ROUTEID", Routes.Select(m => new SelectListItem { Text = m.NAME, Value = m.ROUTE_ID.ToString() }), "--Select Route--"
                                        , new { @onchange = "javascript:GetVendors(this.value,1)", @class = "span2 searchcss form-control searchselect", @required = true, id = "Route_ID", style = "background-color:#CCFFCC;" })
        </div>
        <div class="col-lg-3">
            <select id="VendorsDD" name="VendorbranchID" class="form-control">
                <option value="20">Select Vendor </option>
                <option value="20">Select Vendor </option>
                <option value="20">Select Vendor </option>
            </select>
        </div>
        <div class="col-lg-1">
            <input type="submit" value="search" class="form-control btn btn-success" name="V_Name" />
        </div>
    </div>
}

<div class="clearfix"></div>
<div class="row" id="PrintableDiv">
    <div class="col-lg-8 col-lg-offset-2">
        <div id="voucherDiv"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <input type="button" id="PrintBtn" class="btn-success pull-right" style=" display:none" onclick="printDiv('PrintableDiv')" value="print !" />
 </div>
</div>
<script>
    function ActiveprintBtn() {

        document.getElementById("PrintBtn").style.display = "inline";
    }

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
   </script>

@*<script>
    function ActiveprintBtn() {

        document.getElementById("PrintBtn").style.display = "inline";
    }

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>*@




<script language="javascript" type="text/javascript">

    function GetVendors(_routeId,_paymentType) {

        var url = "/Vendors/GetAllVendorsByRouteID/";
        var vendorslist = "#VendorsDD";
        $.ajax({
            url: url,
            data: { RouteID: _routeId, PaymentType: _paymentType },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#VendorsDD").html(data);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>