@{
    ViewBag.Title = "RouteWiseLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var V_Branches = BusinessEntities.DropDownBO.DropDownBO.AllRoutes().OrderBy(rt=>rt.NAME);
}

<h2>Route Wise Slips</h2>

 @using (Ajax.BeginForm("RouteLedger", new AjaxOptions
                                                    {
                                                        HttpMethod = "POST",
                                                        UpdateTargetId = "Updatediv",
                                                        OnComplete = "ActiveprintBtn",
                                                        InsertionMode = InsertionMode.Replace,
                                                        LoadingElementId = "divloading",
                                                        LoadingElementDuration = 2000
                                                    }))
            {<div class="row">
                <div class="col-md-10 col-md-offset-1 well well-sm">
                <div class="row">
                    <div class=" col-lg-2">Start Date</div>
                    <div class="col-lg-3"><input class="form-control" type="date" name="start_date" required="required" /></div>
                    <div class="col-lg-2">End Date</div>
                    <div class="col-lg-3"><input type="date" class="form-control" name="End_date" required="required" /></div>
                </div>
                <br />



                <div class="row">
                    <div class="col-lg-2">Select Route </div>
                    <div class="col-lg-3">
                        <input type="hidden" name="ISWithWeight" value="@ViewBag.Weight" />
                        @Html.DropDownList("Route_ID", V_Branches.Select(m => new SelectListItem { Text = m.NAME.ToString(), Value = m.ROUTE_ID.ToString() }), "--Select Route--"
                    , new { @class = "  form-control ", @required = true })
                    </div>
                    <div class="col-lg-2">
                        <select name="YearName" class="form-control" required="required">
                            <option value="">Year</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value=" 2016"> 2016</option>
                            <option value="2017">2017</option>
                            <option value=" 2018"> 2018</option>
                            <option value="2019">2019</option>
                            <option value=" 2020"> 2020</option>
                            <option value=" 2021"> 2021</option>
                            <option value=" 2022"> 2022</option>

                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select name="MonthName" class="form-control" required="required">
                           
                             <option value="جنوری">جنوری</option>
                            <option value="فروری">فروری</option>
                            <option value="مارچ">مارچ</option>
                            <option value=" اپریل"> اپریل</option>
                            <option value=" مئ"> مئ</option>
                            <option value="جون">  جون</option>
                            <option value="جولائی">جولائی</option>
                            <option value=" اگست"> اگست</option>
                            <option value=" ستمبر"> ستمبر</option>
                            <option value=" اکتوبر"> اکتوبر</option>
                            <option value="نومبر">  نومبر</option>
                            <option value="دسمبر"> دسمبر </option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" value="search" class="form-control btn btn-success" name="V_Name" />
                    </div>
                </div>
       </div>
    </div>
 }

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 ">
                <input type="button" id="PrintBtn" class="btn-success" style=" display:none" onclick="printDiv('PrintableDiv')" value="print !" />
            <hr />
            </div>
            <br />
        </div>

        <div class="row" id="PrintableDiv">
            <div class="col-lg-8 col-lg-offset-2">
                <div id="Updatediv"></div>
            </div>
        </div>
<div id="divloading" style=" display:none; margin:40px 450px 40px 450px">

    <img src="~/Content/Images/loader.gif" width="100" height="70" title="Please Wait !!!" style="position:center" />
</div>

            <script>
                function ActiveprintBtn() {

                    document.getElementById("PrintBtn").style.display = "inline";
                }

                function printDiv(divName) {
                    var printContents = document.getElementById(divName).innerHTML;
                    var originalContents = document.body.innerHTML;
                    document.body.innerHTML = printContents;
                    window.print();
                    document.body.innerHTML = originalContents;
                }
            </script>

            <style>
                .headinglist {
                margin-top: 2px;
                margin-bottom: 2px;
                }
            </style>